swagger: '2.0'
info:
  title: eHackathon API
  description: "/r/Startups' premiere learning and networking eHackathon API"
  version: 0.0.1
host: api.ehackathon.com
schemes:
  - https
  - http
basePath: /v1
produces:
  - application/json
paths:
  /user:
    get:
      summary: User Profile
      description: >
        The User Profile endpoint returns all information needed to display
        a specified user's profile in its entirety.
      parameters:
        - name: username
          in: query
          description: Username of requested profile
          required: true
          type: string
      tags:
        - User
      responses:
        '200':
          description: An object containing user information
          schema:
            type: object
            $ref: '#/definitions/Profile'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /user/delete:
    delete:
      summary: Deletes a User
      description: >
        Deletes a user with a given username
      parameters:
        - name: username
          in: query
          description: Username of User to delete
          required: true
          type: string
        - name: sessionKey
          in: query
          description: Key authenticating the user
          required: true
          type: string
      tags:
        - User
      responses:
        '200':
          description: The user has successfully been deleted
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
definitions:
  Profile:
    properties:
      first_name:
        type: string
        description: First name of the Uber user.
      last_name:
        type: string
        description: Last name of the Uber user.
      email:
        type: string
        description: Email address of the Uber user
      picture:
        type: string
        description: Image URL of the Uber user.
      promo_code:
        type: string
        description: Promo code of the Uber user.
  Error:
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string
      fields:
        type: string

