extends layout
block content
  #start.row.landing-hero
    .small-12.columns
      .content-container
        h1 Join the WkndMVP eHackathon
        h2
          | Hacking starts: 
          span.red-copy Thurs Oct 22 @ 12:00 PST
        h3 Register your team today
        .countdown-timer
        a.button.large(href='/auth/reddit', ng-hide='user.username') Register Now
        h3(ng-show='user.username')
          | Welcome 
          span(class='red-copy')
            | {{::user.username}}
  #about-section.row.landing-callout(data-magellan-destination='about-section')
    .small-12.columns
      h2.landing-callout-copy About WkndMVP
  .row.landing-categories.cat-bkg01
    .small-12.medium-7.columns
      h3 A Community for Makers
      p
        | WkndMVP is a community for makers that was founded by the r/startup Reddit community. WkndMVP is about bringing our complementary skills together over the weekends to do what we love - create new, smart things.
  #ehackathon-section.row.landing-callout(data-magellan-destination='ehackathon-section')
    .small-12.columns
      h2.landing-callout-copy eHackathon
  .row.landing-categories.cat-bkg02
    .small-12.medium-7.columns
      h3 How to Participate 
      ol
        li Find teammates in the r/weekendMVP subreddit
        li
          | Register your team before 
          span.red-copy.bold-copy Thurs Oct 22 @ 12:00 PST
          | .
      h3 Team Registration
      div(ng-show="user.username && team.title")
        h4 Your Team
        p 
          span.red-copy.bold-copy Name: 
          | {{::team.title}}
        p
          span.red-copy.bold-copy Members:
        ul
          li(ng-repeat="member in team.fullMembers")
            | {{::member.username}} 
            span(ng-show="member._id === team.ownerId")
              | (Moderator)
        div(ng-show="user._id === team.ownerId")
          invite
        div(ng-show="user._id != team.ownerId")
          button(ng-hide="inviteUrl || loading" ng-click="promptToLeave()") Leave Team


      div(ng-show="!user.username && !team.title")
        p
          | You need to be logged in to create a team. You will be redirected to reddit to login.
        p
          a(href='/auth/reddit', class='button large') Login/Register
      p(ng-show='!teamLoading && teamError')
        span(class='red-copy')
          | There was an error with your request, please try again later.
      form(name='teamForm', data-abide='', novalidate, ng-show='user.username && !team.title', ng-submit='registerTeam(teamForm.$valid)')
        .team-name-field
          label
            | Your Team Name 
            small required
            input(type='text', ng-required='true', ng-model='teamRegister.title', ng-disabled='teamLoading')
          small.error Team name is required.
        .email-field
          label
            | Contact Email 
            small required
            input(type='email', ng-required='true', ng-model='teamRegister.email', ng-disabled='teamLoading')
          small.error An email address is required.
        .member-field
          label
            | Team Lead 
            input(type='text', readonly, ng-value='user.username', disabled, ng-required='false')
          small.error Name is required.
        label
          | Project Description
          textarea(ng-required='true', ng-model='teamRegister.description', ng-disabled='teamLoading')
        button(type='submit', ng-disabled='teamLoading || !teamForm.$valid') Submit
        button(type='reset', ng-disabled='teamLoading') Reset
      h3 Date & Duration
      p The eHackathon starts:
      p
      p.red-copy.bold-copy Thurs Oct 22 @ 12:00 PST & runs until Sun, Oct 25 @ 23:59 PST
      p
        | Submission must be entered online no later than 
        span.red-copy.bold-copy Sun, Oct 25 @ 23:59 PST
        | .
      h3 Submission
      p
        | Team leaders log in at wkndmvp.com and submit your team project before the deadline 
        span.red-copy.bold-copy Sun, Oct 25 @ 23:59 PST.
      h3 Voting
      ol
        li Voting will remain open for 1 week after the end of the eHackathon
        li Voters must sign in with reddit to cast vote; 1 vote per username
        li Voters cannot vote on their own project
        li Account must be 1 week old from the start of hackathon
        li Account must be subscribed to r/startups or r/wkndmvp subreddit
  #showcase-section.row.landing-callout(data-magellan-destination='showcase-section')
    .small-12.columns
      h2.landing-callout-copy Showcase
  .row.landing-categories.cat-bkg03
    .small-12.medium-7.columns
      h3 Coming soon!
      p
        | Check back on October 26, 2015 to cast your vote for the best projects in each category.
  #contact-section.row.landing-callout(data-magellan-destination='contact-section')
    .small-12.columns
      h2.landing-callout-copy Contact WkndMVP
  .row.landing-categories.cat-bkg04
    .small-12.medium-7.columns
      p(ng-show='contactLoaded && !contactError')
        span(class='red-copy')
          | Your request was submitted!
      p(ng-show='contactLoaded && contactError')
        span(class='red-copy')
          | There was an error with your request, please try again later.
      form.contactForm(name='contactForm', data-abide='', ng-submit='sendContact(contactForm.$valid)', novalidate, ng-hide='contactLoaded && !contactError')
        .team-name-field
          label
            | Name 
            small required
            input(type='text', ng-required='true', ng-model='contact.name', ng-disabled='contactLoading')
          small.error Name is required.
        .email-field
          label
            | Email 
            small required
            input(type='email', ng-required='true', ng-model='contact.email', ng-disabled='contactLoading')
          small.error An email address is required.
        label
          | What's up?
          textarea(ng-required='true', ng-model='contact.message', ng-disabled='contactLoading')
        button(type='submit', ng-disabled='contactLoading || !contactForm.$valid') Submit
        button(type='reset', ng-disabled='contactLoading', style="margin-left: 25px;") Reset
