extends layout
block content
  #start.row.landing-hero
    .small-12.columns
      .content-container
        h1 Join the WkndMVP eHackathon
        h2
          | Hacking starts: 
          span.red-copy Thurs Aug 27 @ 12:00 PST
        h3 Register your team today
        .countdown-timer
        a.button.large(href='#ehackathon-section', ng-hide='user.username') Register Now
        h3(ng-show='user.username')
          | Welcome 
          span(class='red-copy')
            | {{::user.username}}
  #about-section.row.landing-callout(data-magellan-destination='about-section')
    .small-12.columns
      h2.landing-callout-copy About WkndMVP
  .row.landing-categories.cat-bkg01
    .small-12.medium-7.columns
      h3 A Community for Makers
      p
        | WkndMVP is a community for makers that was founded by the r/startup Reddit community. WkndMVP is about bringing our complementary skills together over the weekends to do what we love - create new, smart things.
  #ehackathon-section.row.landing-callout(data-magellan-destination='ehackathon-section')
    .small-12.columns
      h2.landing-callout-copy eHackathon
  .row.landing-categories.cat-bkg02
    .small-12.medium-7.columns
      h3 How to Participate 
      ol
        li Find teammates in the /weekendMVP subreddit
        li
          | Register your team before 
          span.red-copy.bold-copy Thurs Aug 27 @ 12:00 PST
          | .
      h3 Team Registration
      div(ng-show="user.username && team.title")
        h4 Your Team
        p 
          span.red-copy.bold-copy Name: 
          | {{::team.title}}
        p
          span.red-copy.bold-copy Members:
        ul
          li(ng-repeat="member in team.fullMembers")
            | {{::member.username}} 
            span(ng-show="member._id === team.ownerId")
              | (Moderator)
          li(ng-show="user._id === team.ownerId")
            invite
          li(ng-show="user._id != team.ownerId")
            button(ng-hide="inviteUrl || loading" ng-click="promptToLeave()") Leave Team


      div(ng-show="!user.username && !team.title")
        p
          | You need to be logged in to create a team. You will be redirected to reddit to login.
        p
          a(href='/auth/reddit', class='button large') Login/Register
      p(ng-show='!teamLoading && teamError')
        span(class='red-copy')
          | There was an error with your request, please try again later.
      form(name='teamForm', data-abide='', novalidate, ng-show='user.username && !team.title', ng-submit='registerTeam(teamForm.$valid)')
        .team-name-field
          label
            | Your Team Name 
            small required
            input(type='text', ng-required='true', ng-model='teamRegister.title', ng-disabled='teamLoading')
          small.error Team name is required.
        .email-field
          label
            | Contact Email 
            small required
            input(type='email', ng-required='true', ng-model='teamRegister.email', ng-disabled='teamLoading')
          small.error An email address is required.
        .member-field
          label
            | Team Lead 
            input(type='text', readonly, ng-value='user.username', disabled, ng-required='false')
          small.error Name is required.
        label
          | Project Description
          textarea(ng-required='true', ng-model='teamRegister.description', ng-disabled='teamLoading')
        button(type='submit', ng-disabled='teamLoading || !teamForm.$valid') Submit
        button(type='reset', ng-disabled='teamLoading') Reset
      h3 Date & Duration
      p The eHackathon starts:
      p
      p.red-copy.bold-copy Thurs Aug 27 @ 12:00 PST & runs until Sun, Aug 30 @ 23:59 PST
      p
        | Submission must be entered online no later than 
        span.red-copy.bold-copy Sun, Aug 30 @ 23:59 PST
        | .
      h3 Submission
      p
        | Team leaders log in at wkndmvp.com and submit your team project before the deadline 
        span.red-copy.bold-copy Sun, Aug 30 @ 23:59 PST.
      h3 Voting
      ol
        li
          | After the eHackathon deadline Community reviews submissions & choose best of or 1/2/3 for each category.
        li 1 week for community to vote
        li Voters sign in with reddit to cast vote, 1 vote per username per category? 
        li Voters cannot vote on their own project
        li Account must be 1 week old from the start of hackathon
        li Account must belong to r startups subreddit
    .small-8.medium-6.columns
      h3 Categories
      p
        | Below is a list of the categories to inspire your ideas. If our community is able to gain enough traction that we attract sponsors for the WkndMVP eHackathon, we hope to provide prizes for the following categories. At minimum, your team could win all the fame, glory and bragging rights for the categories below.
      p Voting will open after the eHackathon deadline on Sun, Aug 30 @ 23:59 PST. 
      p
        | Voting is open to members of the r/startups Reddit community. Login on Mon, Aug 31 to cast your vote for the best of the best in each category.
    .small-8.medium-6.columns
      ul.category-list
        li
          img(src='imgs/blue-3dpolybox.png')
          |  Best Overall
        li
          img(src='imgs/red-3dpolybox.png')
          |  Best Mobile
        li
          img(src='imgs/blue-3dpolybox.png')
          |  Best Internet of Things
        li
          img(src='imgs/red-3dpolybox.png')
          |  Best UX
        li
          img(src='imgs/blue-3dpolybox.png')
          |  Best use of an API
  #showcase-section.row.landing-callout(data-magellan-destination='showcase-section')
    .small-12.columns
      h2.landing-callout-copy Showcase
  .row.landing-categories.cat-bkg03
    .small-12.medium-7.columns
      h3 Coming soon!
      p
        | Check back on August 31, 2015 to cast your vote for the best projects in each category.
  #contact-section.row.landing-callout(data-magellan-destination='contact-section')
    .small-12.columns
      h2.landing-callout-copy Contact WkndMVP
  .row.landing-categories.cat-bkg04
    .small-12.medium-7.columns
      p(ng-show='contactLoaded && !contactError')
        span(class='red-copy')
          | Your request was submitted!
      p(ng-show='contactLoaded && contactError')
        span(class='red-copy')
          | There was an error with your request, please try again later.
      form(name='contactForm', data-abide='', ng-submit='sendContact(contactForm.$valid)', novalidate, ng-hide='contactLoaded && !contactError')
        .team-name-field
          label
            | Name 
            small required
            input(type='text', ng-required='true', ng-model='contact.name', ng-disabled='contactLoading')
          small.error Name is required.
        .email-field
          label
            | Email 
            small required
            input(type='email', ng-required='true', ng-model='contact.email', ng-disabled='contactLoading')
          small.error An email address is required.
        label
          | What's up?
          textarea(ng-required='true', ng-model='contact.message', ng-disabled='contactLoading')
        button(type='submit', ng-disabled='contactLoading || !contactForm.$valid') Submit
        button(type='reset', ng-disabled='contactLoading') Reset
